input[type="radio"] {
    margin: 0;
    padding: 0;
}

.viewer::-webkit-scrollbar {
    display: none;
}

.viewer {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    height: 80%;
    width: 80%;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid grey;
    border-radius: 20px;
}

.maincontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.viewcontainer {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewercontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    align-items: center;
}

.subsectionbutton {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.formInput {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}

.headhunter_logo {
    max-height: 50px;
}

.mainheader {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #222;
    min-height: 80px;
    justify-content: center;
}

.headhunter_header {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.headhunter_input {
    border: 1px solid #999;
    width: 60%;
    font-size: 14px;
    padding: 7px 11px;
}

.headhunter_button {
    border-color: #187bd1;
    background-color: #187bd1;
    color: #fff;
    font-size: 14px;
    padding: 7px 20px;
}

.switchbutton {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 14px;
    padding: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
}

.switchbutton.active {
    border-bottom: 2px solid #8cb900;
}

.settings_container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.settings_button {
    background-color: transparent;
    border: none;
    margin-left: -50px;
    line-height: 0px;
}

.radio_label {
    margin-left: 10px;
    margin-right: 20px;
}

.itemcontainer {
    padding: 20px;
    border: 1px solid #e7e7e7;
    position: relative;
    font-size: 14px;
}

.link {
    font-size: 20px;
    color: #2998ff;
    margin-bottom: 10px;
}

.item_button {
    border: 1px solid;
    padding: 0 15px;
    background-color: #187bd1;
    border-color: #187bd1;
    color: #fff;
    border-radius: 100px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.area {
    color: #999;
    font-size: 12px;
}

.description {
    font-size: 14px;
    margin-top: 10px;
}

.comment {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.boldspan {
    color: #333;
    margin-right: 10px;
    font-weight: bold;
}

.trash_icon {
    height: 25px;
    margin-left: auto;
    margin-right: 20px;
    background-color: lightcoral;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.salary {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.employer_link {
    cursor: pointer;
}

.employer_link:hover {
    color: #2998ff;
}
